{%extends "layout.html"%}
{%block head%}
{{super()}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
{%endblock%}
{%block title%}
JqueryBasic
{%endblock%}
{%block content%}
  <p id="diyige">This is paragraph1</p>
  <p>this is paragraph2</p>
  <p name="Strong">this<strong> is </strong>3</p>
  <table class='tables'>
  <tr>
  <td>id</td>
  <td>姓名</td>
  <td>年龄</td>
  </tr>
  <tr>
  <td>1</td>
  <td>alex</td>
  <td>12</td>
  </tr>
  <tr>
  <td>2</td>
  <td>kaixuan</td>
  <td>24</td>
  </tr>
  <tr>
  <td>3</td>
  <td>mason</td>
  <td>16</td>
  </tr>
  </table>
  <form method="GET">
    <input type="text" id="show_place">
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button type="button" name="button">测试ajax</button>
  </form>
  <p name="test_ajax">This is used to test ajax</p>
  <p name="hover_method"> THis is used test my hover</p>
  <p name="event_method"> THis is used test event properties</p>
  <a href="/apis" name="atag_method">THis is test event.preventDefault()</a>
<script src="/static/js/JQBasic.js"></script>
{%endblock%}
