<!DOCTYPE>
<!--  JSExInnerHtml.html -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> JSExInnerHtml</title>
  <script src="/static/js/JSExInnerHtml.js"></script>
</head>
<body>
  <h1 id="heading1">Heading1</h1>
  <h2>heading2</h2>
  <h2>heading2</h2>
  <p class="para">Paragraph 1</p>
  <p class="para">Paragraph 2</p>
  <p class="para">Paragraph 3</p>
  <label><input type="button" id="btn1" value="change heading1"/>C1</label><hr>
  <input type="button" id="btn2" value="change heading2"/>
  <input type="button" id="btn3" value="change paragragh"/>
</body>

</html>
